body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0; /* Margin aumentada */
}

.menu-container {
    background-color: #fff;
    font-size: 24px;
    padding: 40px; /* Padding aumentado */
    border-radius: 10px; /* Border-radius aumentado */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); /* Box-shadow aumentado */
    text-align: center;
    width: 600px; /* Largura do menu aumentada */
    margin: 20px auto; /* Centraliza o menu na página */
    position: relative;
}

#logout-button {
    position: absolute; /* Posição absoluta para o botão */
    top: 10px; /* Distância do topo */
    right: 10px; /* Distância da direita */
    background-color: #007bff; /* Cor de fundo do botão "Voltar" */
    color: #fff; /* Cor do texto do botão */
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}

h1 {
    font-size: 72px; /* Tamanho da fonte aumentado */
    margin-bottom: 40px; /* Margem inferior aumentada */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 20px 0; /* Margem aumentada */
    border: 2px solid #ccc; /* Border aumentada */
    border-radius: 10px; /* Border-radius aumentado */
    padding: 20px; /* Padding aumentado */
}

a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    display: block;
}

a.hovered {
    font-size: 32px; /* Tamanho da fonte ao passar o mouse aumentado */
    border: 4px solid #fff; /* Border ao passar o mouse aumentada */
}

#back-button {
    background-color: #6c757d;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 15px;
}

#back-button {
    background-color: #6c757d;
    color: #fff;
    border: none;
    border-radius: 5px; /* Mesma borda-radius */
    padding: 10px 45%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 15px;
}

#back-button:hover {
    background-color: #5a6268;
}

